.cont{
    margin-top: 62px;
    width: 100vw;
    height: calc(100vh - 62px);
    display: flex;
    justify-content: center;    
}
.box{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
@media(max-width:948px){
    .cont{
        height: calc(100% - 102px);
        margin-bottom: 40px;
    }
}
.mapproduct{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.emptyproduct{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    align-items: center;
}
.emptyproduct h1{
    color: rgb(0, 140, 255);
}
.emptycardbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 20px;
}
.emptycard{
    width: 250px;
    height: 300px;
    background:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
@keyframes load {
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }}
.emptyimg{
    width: 95%;
    animation: load 1s ease-in-out infinite;
    height: 210px;
    background: linear-gradient(to right,
    #c6c6c6 ,#e3e3e3 ,#bebebe);
    background-size: 200% 200%;
}
.emptyinfo{
    width: 95%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}
.emptyname{
    width: 70%;
    height: 35%;
    animation: load 1s ease-in-out infinite;
    background: linear-gradient(to right,
    #c6c6c6 ,#e3e3e3 ,#bebebe);
    background-size: 200% 200%;
}
.emptyprice{
    width: 30%;
    height: 30%;
    animation: load 1s ease-in-out infinite;
    background: linear-gradient(to right,
    #c6c6c6 ,#e3e3e3 ,#bebebe);
    background-size: 200% 200%;
}
.emptycart{
    width: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 50px;
    animation: load 1s ease-in-out infinite;
    background: linear-gradient(to right,
    #c6c6c6 ,#e3e3e3 ,#bebebe);
    background-size: 200% 200%;
}
@media(max-width:550px){
    .emptycardbox{
        justify-content: center;
    }
    .mapproduct{
        justify-content:center;
    margin-bottom: 42px;

    }
}